@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Permanent+Marker&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.bx{
   font-size: 3rem; 
  
}

.bxl-linkedin-square{
    color: #ccc;
    
}

.bxl-codepen{
    color: #ccc;
}

.list{
   width: 100%;
   
    margin-top: 15px;

   background: rgb(37 37 37);

   display: flex;
   justify-content: center;
  
}




.h1__first {
    display: flex;

    background: linear-gradient(90deg, rgba(164, 252, 249, 1) 0%, rgba(16, 24, 21, 1) 49%, rgba(69, 252, 173, 1) 100%);
    justify-content: center;
    align-items: center;  
}

.fs__900--white {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.400rem;

    font-weight: 900;

    width: 100%;
    color: rgba(236, 236, 236, 0.952);
    max-width: 1200px;
    margin-left: 8px;

    text-align: center;

 
}

.h3__400{
    font-weight: 200;

    color: rgba(105, 105, 105, 0.973);
}

/*Layout of page*/
#page {
   
    

    display: grid;
    width: 100%;
    grid-template-areas:
        "head head"
        "main  main"
        "page2 page2"
        "foot  foot";
    grid-template-rows: 10vh 90vh 150vh 10vh;
    grid-template-columns: 100px 1fr;

    overflow: hidden;
}

#page>header {
    grid-area: head;
    background: rgb(37, 37, 37);
    height: 10vh;
}



#page>main {
    grid-area: main;
 

}



#page>footer {
    grid-area: foot;
    background-color: #181818;
}

#page>footer>p {
    margin-top: 20px;
}

.txt_nav>ul {


    padding: 2%;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.item1 {
    color: white;
    margin: 0 15px;
    width: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


main>.content {

    


    display: flex;

    width: 100%;
   




    background-color: #8c9fff00;
}


.window {
    width: 100%;


    display: flex;

    justify-content: center;
    align-items: center;

    margin: auto;

}


.photo--1{
    width: 100%;
    object-fit:cover;
    height: 600px;
   
}

.window__img {

  
}

.quote {

    width: 100%;


    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 auto;

}


/*custom bottom*/
.btn {
    width: 100%;
    margin: 5px auto;

    display: flex;
    justify-content: center;
}





.animated-button {
    background-color: rgb(0, 0, 0);
    color: white;

    border: none;

    padding: 12px 24px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.973);
    transition: all 0.3s ease-in-out;
    align-self: center;
    justify-self: center;

}

.animated-button:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
}

.p__btn {
    color: white;
    font-size: 1.600rem;
    margin: 0 auto;

}

.h1__page{

    background: linear-gradient(90deg, rgba(164,252,249,1) 0%, rgba(16,24,21,1) 49%, rgba(69,252,173,1) 100%);
    
    
   width: 100%;
   display: flex;
   justify-content: center;
}

.mt15__fs--300{
    font-weight: 400;
    font-size: 3.6rem;
    color: rgba(236, 236, 236, 0.952);
    margin-left: 39px;
}


.mt15__fs--100{
    font-weight: 400;
    font-size: 2.6rem;


    color: rgba(105, 105, 105, 0.973);
}


.mt15{
   
    
    
}



/*Second page*/
.second__page {
    

    width: 100%;
    height: 60vh;


    grid-area: page2;

    margin: 0 auto;

}


.card {
    width: 350px;
    height: 550px;
    box-shadow: 2px 2px 5px #ccc;
    margin:20px auto;


    /*efeito*/
    transition: transform 0.5s;
    transform: scale(1);

    transition: box-shadow 0.5s;


    border-radius: 9px;
}


.card:hover {
    transform: scale(1.1);

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 60%;
}

.card h1 {
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
}

.card p {
    font-size: 18px;

    text-align: center;
    padding-right: 11px;
    padding-left: 11px;


    
}


.saibamais__btn{
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 8px rgb(207, 207, 207);
    background: rgba(0, 217, 255, 0.699);
    border-radius: 6px;
    color: white;
    width: 162px;
    height: 29px;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.5s;
}

.saibamais__btn:hover{
    cursor: pointer;
    border: none;
   

    color: black;
    background: rgb(229, 255, 0);

    transition-duration: 3s;
    transition: 1.5s;
    transform: translateY(10px);
}


.btn__saiba{


    display: flex;
    justify-content: center;

    width: 100%;
}

.quote__card{

   


    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}